

@font-face {
    font-family: "Open Sans Light";
    src: url('https://clientcrash.com/font/Open_Sans/1.ttf');
}

body{
    font-family: 'Open Sans Light', sans-serif;
    text-align: center;
    background: black;
    color: white;
    animation: hue 10s forwards 4s 1;
}


.mdiv{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
#mlogo{
    margin-top: 10vh;
    width: 20vh;
    height: 20vh;
    background: #E4AD0D;
    display: block;
    margin-left: calc(calc(100vw - 20vh) / 2);
    margin-right: calc(calc(100vw - 20vh) / 2);
    font-size: 4rem;
    font-weight: bold;
    vertical-align: middle;
    line-height: 20vh;
    user-select: none;
    color: black;


    animation: rotateone 42s alternate 4s infinite;


}

@keyframes hue{
    0%{
        background: black;
    }
    100%{
        background: linear-gradient(to right,#FF12B8,#E4AD0D);
    }
}

@keyframes rotateone {
    0% {

    }
    10%{
        transform: rotate(360deg);
    }
    100%{
        
        transform: rotate(3600deg) scale(1.069420);
    }
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    font-size: 0.8rem;
    padding-bottom: 2vh;
    padding-top: 1vh;
    background: rgba(255,255,255,0.042);
}